.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar .logo {
    width: 85px;
    border-radius: 100%;
} */

.navbar-title {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #49557e;
}

.nbc {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
}

.nothing {
    font-size: 12px;
    margin-top: -5px;
    letter-spacing: 1px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-menu a:hover {
    color: #bcb2da;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #49557e;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #bcb2da;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #bcb2da;
    border-radius: 50px;
    top: -8px;
    right: -8px;
}



@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #bcb2da;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #747474;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: #747474;
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {

    .navbar-menu {
        display: none;
    }
    .navbar .logo {
        width: 45px;
    }
    .navbar-right button {
        font-size: 10px;
    }
}

@media (max-width:1050px) {
    .nbc {
        font-size: 28px;
    }
    .nothing {
        font-size: 11px;
    }
}

@media (max-width:900px) {
    .nbc {
        font-size: 24px;
    }
    .nothing {
        font-size: 10px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }

    .nbc {
        font-size: 20px;
    }

    .nothing {
        font-size: 9px;
    }

    .navbar-right button {
        font-size: 10px;
    }
}
