.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    width: 80px;
    border-radius: 100%;
    margin-bottom: 5px;
}

.navbar .profile {
    width: 40px;
}