.header {
    height: 34vw;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

/* Slider image full screen */
.header-slide {
    height: 34vw;
    background-size: cover;
    background-position: center;
}

/* Keep your existing text styles */
.header .header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 600;
    color: #2d2d2f;
    font-size: 3.5rem;
}

.header-contents p {
    color: #2d2d2f;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #bcb2da;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width: 450px) {
    .header-contents p {
        font-size: 0.65rem;
        line-height: 1.05;
        max-width: 70%;
    }
}
